body {
    margin: 40px auto;
    font-family: "Arial","sans-serif";
    max-width: 800px;
    line-height: 1.6;
    font-size: 18px;
    padding: 0;
}

h1, h2, h3 {
    line-height: 1.2;
}

img.left {
    float: left;
    padding: 0px 20px  20px 0px;
}

table, th, td {
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
}